<div id="projects-content" class="tab-pane fade">
    <div class="d-flex justify-content-between m-5 p-3 bg-white rounded-3 shadow-lg">
        <h2>Project Management</h2>
        <p>A list of all your projects goes here.</p>
    </div>
</div>
